h1{
  font-style: italic;
  color: #f81245;
  text-align: center;
}
.car-input-form {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
  align: center;

}

.carBox {
  height: 300px;
  width: 300px;
  background-color: #f6f6f6;
  color: black;
  display: block;
  float: left;
  border-radius: 12px;
  box-shadow: 4px 4px 4px black;
  margin: 20px;
  border-color: black;
  border-style: solid;
  border-width: thin;
}
.green-background{
  background: green;
}
.red-background{
  background: red;
}





